In [1]:
import pandas as pd
import numpy as np
import joblib
from src.utils.helper import load_params, nan_detector

### ToDo List

1. Missing value handling
    - year : median / mode dari tahun
    - publisher : isi dengan value "UNKNOWN"
    
2. Treat outlier
    - remove outlier
    - IQR?
    - transform menggunakan log

### Import Params

In [2]:
params_dir = "config/params.yaml"

In [3]:
params = load_params(params_dir)

In [4]:
params

{'dataset_dir': 'data/raw/',
 'int32_columns': ['Year'],
 'float32_columns': ['NA_Sales',
  'EU_Sales',
  'JP_Sales',
  'Other_Sales',
  'Global_Sales'],
 'object_columns': ['Name', 'Platform', 'Genre', 'Publisher'],
 'label': 'Global_Sales',
 'predictors': ['Name',
  'Year',
  'Platform',
  'Genre',
  'Publisher',
  'NA_Sales',
  'EU_Sales',
  'JP_Sales',
  'Other_Sales'],
 'range_Year': [-1, 2020]}

### Load Dataset

In [5]:
X_train = joblib.load("data/processed/X_train.pkl")
y_train = joblib.load("data/processed/y_train.pkl")

X_valid = joblib.load("data/processed/X_valid.pkl")
y_valid = joblib.load("data/processed/y_valid.pkl")

X_test = joblib.load("data/processed/X_test.pkl")
y_test = joblib.load("data/processed/y_test.pkl")

In [6]:
data = pd.concat([X_train, y_train], axis=1)

valid_set = pd.concat([X_valid, y_valid], axis=1)

test_set = pd.concat([X_test, y_test], axis=1)

### Handling Missing Values

#### Convert -1 value to NaN

In [7]:
data.columns.tolist()

['Name',
 'Year',
 'Platform',
 'Genre',
 'Publisher',
 'NA_Sales',
 'EU_Sales',
 'JP_Sales',
 'Other_Sales',
 'Global_Sales']

In [59]:
def coba(set_of_data):
    set_of_data = set_of_data.copy()
    
    columns = set_of_data.columns.tolist()
    
    for col in columns:
        if set_of_data[col].dtypes == "int":

SyntaxError: incomplete input (222970803.py, line 8)

In [8]:
for col in data.columns.tolist():
    if data[col].dtypes == "int":
        print("wikwik")
        
    else:
        print("awikwok")

awikwok
wikwik
awikwok
awikwok
awikwok
awikwok
awikwok
awikwok
awikwok
awikwok

##### Train

In [9]:
data.describe()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,13278.000000,13278.000000,13278.000000,13278.000000,13278.000000,13278.000000
mean,1972.695135,0.260493,0.143047,0.077584,0.047270,0.528705
std,258.029798,0.751508,0.443296,0.308722,0.173418,1.404214
min,-1.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000
max,2020.000000,29.080000,12.880000,10.220000,10.570000,40.240000

In [10]:
data.isna().sum()

Name             0
Year             0
Platform         0
Genre            0
Publisher       53
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [11]:
data = nan_detector(data)

In [12]:
data.isna().sum()

Name              0
Year            223
Platform          0
Genre             0
Publisher        53
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13278 entries, 14303 to 15795
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          13278 non-null  object
 1   Year          13055 non-null  float64
 2   Platform      13278 non-null  object
 3   Genre         13278 non-null  object
 4   Publisher     13225 non-null  object
 5   NA_Sales      13278 non-null  float64
 6   EU_Sales      13278 non-null  float64
 7   JP_Sales      13278 non-null  float64
 8   Other_Sales   13278 non-null  float64
 9   Global_Sales  13278 non-null  float64
dtypes: float64(6), object(4)
memory usage: 1.1+ MB

##### Validation

In [14]:
valid_set.describe()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,1660.000000,1660.000000,1660.000000,1660.000000,1660.000000,1660.000000
mean,1979.661446,0.262602,0.153313,0.077904,0.050633,0.544530
std,229.687858,0.703188,0.541875,0.290942,0.232101,1.489941
min,-1.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.070000
50%,2007.000000,0.080000,0.030000,0.000000,0.010000,0.180000
75%,2010.000000,0.250000,0.120000,0.030000,0.040000,0.490000
max,2016.000000,15.750000,11.010000,5.330000,7.530000,33.000000

In [15]:
valid_set.isnull().sum()

Name            0
Year            0
Platform        0
Genre           0
Publisher       2
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [16]:
valid_set = nan_detector(valid_set)

In [17]:
valid_set.isna().sum()

Name             0
Year            22
Platform         0
Genre            0
Publisher        2
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

##### Test

In [18]:
test_set.describe()

,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,1660.000000,1660.000000,1660.000000,1660.000000,1660.000000,1660.000000
mean,1975.086145,0.300127,0.168825,0.079241,0.051837,0.600229
std,249.405713,1.287180,0.829413,0.331057,0.247442,2.487230
min,-1.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,2010.000000,0.232500,0.110000,0.030000,0.040000,0.460000
max,2016.000000,41.490000,29.020000,5.320000,8.460000,82.740000

In [19]:
test_set.isna().sum()

Name            0
Year            0
Platform        0
Genre           0
Publisher       3
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [20]:
test_set = nan_detector(test_set)

In [21]:
test_set.isna().sum()

Name             0
Year            26
Platform         0
Genre            0
Publisher        3
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

#### Handling Year

##### Train

In [22]:
impute_year = 2007

In [23]:
data["Year"].fillna(impute_year, inplace=True)

In [24]:
data.isna().sum()

Name             0
Year             0
Platform         0
Genre            0
Publisher       53
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

##### Validation

In [25]:
valid_set["Year"].fillna(impute_year, inplace=True)

In [26]:
valid_set.isna().sum()

Name            0
Year            0
Platform        0
Genre           0
Publisher       2
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

##### Test

In [27]:
test_set["Year"].fillna(impute_year, inplace=True)

In [28]:
test_set.isna().sum()

Name            0
Year            0
Platform        0
Genre           0
Publisher       3
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

#### Handling Publisher column

##### Train

In [29]:
data["Publisher"].fillna("UNKNOWN", inplace=True)

In [30]:
data.isna().sum()

Name            0
Year            0
Platform        0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

##### Validation

In [31]:
valid_set["Publisher"].fillna("UNKNOWN", inplace=True)

In [32]:
valid_set.isna().sum()

Name            0
Year            0
Platform        0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

##### Test

In [85]:
test_set["Publisher"].fillna("UNKNOWN", inplace=True)

In [87]:
test_set.isna().sum()

Name            0
Year            0
Platform        0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

### Encoding

Sementara di skip dulu

In [95]:
from sklearn.preprocessing import OneHotEncoder

In [89]:
data["Platform"].nunique()

30

In [90]:
data["Genre"].nunique()

12

In [91]:
data["Publisher"].nunique()

537

In [92]:
data.drop(["Publisher"], axis=1, inplace = True)

In [96]:
ohe_genre = OneHotEncoder(sparse=False)

In [109]:
data["Genre"]

14303            Misc
13455      Simulation
6724           Action
898        Simulation
8484     Role-Playing
             ...
11284          Sports
11964          Action
5390           Action
860          Platform
15795      Simulation
Name: Genre, Length: 13278, dtype: object

In [110]:
ohe_genre.fit(data["Genre"])

/home/shandytp/miniconda3/envs/myenv/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

ValueError: Expected 2D array, got 1D array instead:
array=['Misc' 'Simulation' 'Action' ... 'Action' 'Platform' 'Simulation'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

### Dump data

In [33]:
cols_to_pick = ["Year", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]

In [34]:
new_data = data[cols_to_pick].copy()

In [35]:
new_data

         Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
14303  2006.0      0.03      0.00      0.00         0.00          0.03
13455  2008.0      0.04      0.00      0.00         0.00          0.04
6724   2015.0      0.00      0.00      0.25         0.00          0.25
898    2003.0      1.03      0.80      0.00         0.09          1.92
8484   2010.0      0.12      0.00      0.03         0.01          0.16
...       ...       ...       ...       ...          ...           ...
11284  2009.0      0.08      0.00      0.00         0.01          0.08
11964  2008.0      0.03      0.03      0.00         0.01          0.07
5390   2011.0      0.13      0.17      0.00         0.04          0.34
860    2002.0      0.74      0.95      0.00         0.28          1.97
15795  2006.0      0.00      0.01      0.00         0.00          0.02

[13278 rows x 6 columns]

In [36]:
new_valid = valid_set[cols_to_pick].copy()

In [39]:
new_valid

         Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
10892  2000.0      0.05      0.04      0.00         0.01          0.09
4561   1997.0      0.24      0.16      0.00         0.03          0.43
5910   2007.0      0.26      0.02      0.00         0.02          0.30
15944  2016.0      0.00      0.00      0.02         0.00          0.02
218    2007.0      1.91      2.00      0.09         0.83          4.83
...       ...       ...       ...       ...          ...           ...
1522   2010.0      0.78      0.40      0.00         0.11          1.30
7453   2014.0      0.03      0.12      0.00         0.05          0.21
7849   2011.0      0.13      0.05      0.00         0.02          0.19
6110   1997.0      0.16      0.11      0.00         0.02          0.28
13566  2015.0      0.00      0.04      0.00         0.00          0.04

[1660 rows x 6 columns]

In [37]:
new_test = test_set[cols_to_pick].copy()

In [41]:
joblib.dump(new_data.drop(columns = "Global_Sales"), "data/processed/X_train_new.pkl")
joblib.dump(new_valid.drop(columns = "Global_Sales"), "data/processed/X_valid_new.pkl")
joblib.dump(new_test.drop(columns = "Global_Sales"), "data/processed/X_test_new.pkl")

['data/processed/X_test_new.pkl']